#allVBox {
    -fx-font-size: 16px;
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-background-color: rgb(61, 61, 61);
}

.label {
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-radius: 10px;
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

#removeButton{
    -fx-background-color: #e6e6e6;
}

.radio-button {
    -fx-text-fill: #ffffff;
}

.radio-button .radio {
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}

.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-border-color:grey;
}  

.check-box {
    -fx-text-fill: #ffffff;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px;  
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: #575757;
}