 VBox {
    -fx-font-size: 16px;
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-background-color: rgb(188, 255, 235);
}

#scaleBarRectangle1 {
    -fx-fill: rgb(255, 255, 255);
}

#scaleBarRectangle2 {
    -fx-fill: rgb(0, 0, 0);
}

.button {
    -fx-background-radius: 10px;
    -fx-background-color: #99caf8;
    -fx-text-fill: #000000;
}
 .button:hover {
     -fx-background-color: #89b5df ;

 }

#removeButton{
    -fx-background-color: #db6e60;
}

.radio-button .radio {
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}

.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-border-color:grey;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: #99caf8;
}
